header {
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    color: rgb(162, 28, 175);
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
    font-size: 5em;
}