/* @font-face {
    font-family: heytiny;
    src: url(https://www.fontspace.com/hey-tiny-font-f67084);
}; */

header {
    /* font-family: heytiny; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    color: rgb(0, 0, 0);
    width: 50%;
    border: 1px solid black;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 5em;
}