.value {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    text-align: center;
    font-size: 4em;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    line-height: 1.2;
  }
  
  .valueContainer {

    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: none;
    background-color: rgb(206, 246, 216);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  @media only screen and (max-width: 400px) {
    .value {
      font-size: 2em;
      line-height: 1.3;
    }
  }

  @media only screen and (min-width: 655px) {
    .value {
      font-size: 3.5em;
      line-height: 1.3;
    }
  }

  @media only screen and (min-width: 768px) {
    .value {
      font-size: 6em;
      line-height: 1.3;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .value {
      font-size: 8em;
      line-height: 1.4;
    }
  }